
<div class="language-selector">
    <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="button " style="text-decoration:none; color:black;">Eng</a>
    <span> | </span>
    <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="uk-UA" class="button " style="text-decoration:none; color:black;">Укр</a>
    
</div>
